nav {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica,
    sans-serif;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 16px;
  &-item {
    display: flex;
    padding: 0px 8px;
  }
  &-link {
    text-decoration: none;
    font-size: 14px;
  }
}
